<div class="row">
  <div class="col-md-offset-2 col-md-8">
  	<h2>Send SMS</h2>
    <%= form_for Sm.new,:url => send_sms_path, :html => { :class => "form-horizontal student" } do |f| %>
  
  <div class="row">
  <div class ="col-md-2 control-label"><label class="control-label" >Class</label></div>
  <div class="col-md-6">
  	<%#= select_tag "grade_id", options_from_collection_for_select(Grade.all, "id", "grade_name"), :prompt => "Select a project", :onchange => "update_versions_div(this.value)" %>
    	<%= select_tag "grade_id", options_from_collection_for_select(Grade.all, "id", "grade_name"), :prompt => "Select a project", :onchange => "update_student_div(this.value)" %>
	</div>
	</div>

	<div class="row">
	  <div id="student_list"></div>
	</div>
	
	<br/>
  
  <div class="row">
  <div class ="col-md-2 control-label"><%= f.label :sms_content %></div>
  <div class="col-md-6">
  	<%= f.text_area :sms_content, :class => 'form-control' %>
  </div>
	</div>
	<br/>

<div class="form-group">
  <div class="col-md-offset-3 col-md-3">
  	<%= f.submit :class => "btn btn-success" ,:value => "Send SMS"%></div>
  </div>
</div>
    
    <%end%>
    </div>
    </div>


<script>
jQuery('#student_list').hide();
function update_student_div(grade_id) { 
  jQuery('#student_list').show();
  $.ajax({
    url: '/send_sms/update_student_list',
    type: "GET",
    data: {"grade_id" : grade_id},
    dataType: "script"
    
  });
}
</script>