<%= form_for(@student, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label :roll_no, :class => "control-label" %>
    <%= f.text_field :roll_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :grade_id, :class => "control-label" %>
    <%=  f.select :grade_id, options_for_select(Grade.all.collect {|c| [c.grade_name, c.id]},:selected => @student.grade_id), { :include_blank => "Please select Class"}, {:class => "form-control"}%>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :father_name, :class => "control-label" %>
    <%= f.text_field :father_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no, :class => "control-label" %>
    <%= f.text_field :mobile_no, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :gender, :class => 'col-md-3 control-label' %>
    <%= f.radio_button :gender, 'Male', :checked => true ,:class => "radio-inline"%> 
  	<%= label :gender, 'Male' %>
                           
    <%= f.radio_button :gender, 'Female',:class => "radio-inline" %>
    <%= label :gender, 'Female' %>
                           
    </div> 

  <div class="form-group">
    <%= f.submit  @student.new_record? ? "Create Student" : "Update Student", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>