<%= form_for(@teacher, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :full_name, :class => "control-label" %>
    <%= f.text_field :full_name, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label :qualification, :class => "control-label" %>
    <%= f.text_field :qualification, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no, :class => "control-label" %>
    <%= f.text_field :mobile_no, :class => "form-control" %>
  </div>
 </div>
</div>

<div class="row">
 <div class="col-sm-6 col-md-12">
  <div class="form-group">
    <%= f.submit  @teacher.new_record? ? "Create Teacher" : "Update Teacher", :class => "btn btn-primary btn-md col-md-4 btn-primary-spacing" %>
    <%= f.submit "Cancel", :class => "btn btn-default btn-md col-md-2", "data-dismiss" => "modal", "aria-hidden" => true, :style => "padding: 10px 16px; font-size: 16px;"%>
  </div>
</div>
</div>
<% end %>
<style>
	.btn-primary-spacing 
{
margin-right: 8px;
}
</style>