<%= form_for(@teacher, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :full_name, :class => "control-label" %>
    <%= f.text_field :full_name, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label :qualification, :class => "control-label" %>
    <%= f.text_field :qualification, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no, :class => "control-label" %>
    <%= f.text_field :mobile_no, :class => "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.submit  @teacher.new_record? ? "Create Teacher" : "Update Teacher", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>