<!DOCTYPE html>
<html lang="en">
  <head>
    <title>School Management</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="turbolinks-cache-control" content="no-cache">
	
     
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    
  
   
    <div class="container">
    	
    <div class="row">
        <div class="col-xs-12 col-md-12" id="flash_messages">
        	<%= render 'shared/flash_messages' if !flash.empty? %>
         	
       <!--   <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{['success','notice'].include?(name) ? 'success' : 'danger'}", :id => "flash_#{name}"%>
          <% end -%>
          <%#= flash_messages %> -->
        </div>
        
      </div>
	
    	
      <div class="row">
      	
        <div class="col-sm-6 col-md-12 blog-main">
          <%= yield %>
        </div><!-- /.blog-main -->

        
      </div><!-- /.row -->

    </div><!-- /.container -->


	

  </body>
  
</html>

<style>
.close {
	font-size: 1.25rem !important;
}
</style>
