<!DOCTYPE html>
<html lang="en">
  <head>
    <title>School Management</title>
    <%= csrf_meta_tags %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    
  
   
    <div class="container">
    	
    <div class="row">
        <div class="col-xs-12 col-md-12" id="flash-msg">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{['success','notice'].include?(name) ? 'success' : 'danger'}", :id => "flash_#{name}"%>
          <% end -%>
          <%#= flash_messages %>
        </div>
        
      </div>
	
    	
      <div class="row">
      	
        <div class="col-sm-6 col-md-12 blog-main">
          <%= yield %>
        </div><!-- /.blog-main -->

        
      </div><!-- /.row -->

    </div><!-- /.container -->

 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>